.container-user-admin{

}

.box-user{
  display: grid;
  grid-template-columns: 34px 1fr 20px;
  width: 100%;
  align-items: center;
  padding: .4rem ;
  border-radius: 4px;
  border: 1px solid #ACC49C;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.138);
  margin-bottom: 14px;
  p{
    margin-bottom: 0;
    color: #3D3E3C;
  }
  i{
    color: var(--primary-color);
  }
}