footer {
  background-color: var(--text-color);
  border-top: solid 2px #5ab134;
  padding: 2rem 0;
  
  p{
    text-align: center;
    margin-bottom: 0;
    color: var(--bg-color);
  }
}

@media (max-width: 400px){
  footer{
    margin-top: 15rem;
  }
}